@tailwind base;
@tailwind components;
@tailwind utilities;



.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  min-width: 200%; /* So duplicated content fits */
}

*{
    color: #fff;
}


body{
    background-color: #111;
}
#tasklist::-webkit-scrollbar{
  display: none;
}

@layer utilities {
  @keyframes blink {
  0% 100% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
}
  .animate-blink{
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
  0% {
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(250%);
  }
}

  .animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
  
}
